{
  "extends": "standard",
  "globals": {
    "artifacts": true,
    "web3": true,
    "contract": true
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": "off"
  }
}